@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-body {
    @apply container bg-slate-100 w-screen min-h-screen h-auto m-auto max-w-7xl;
  }
  .btn-primary {
    @apply bg-blue-600 text-white p-2 rounded-md hover:bg-blue-500 transition-all;
  }
}

#root {
  background-color: rgb(241 245 249);
}

@font-face {
  font-family: "BYekan";
  src: url(./fonts/BYekan+.ttf);
}

@font-face {
  font-family: "BYekan-Bold";
  src: url(./fonts/BYekan+\ Bold.ttf);
}
