@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-body {
    @apply container bg-slate-100 w-screen min-h-screen h-auto m-auto max-w-7xl;
  }
  .btn-primary {
    @apply bg-blue-600 text-white p-2 rounded-md hover:bg-blue-700 transition-all;
  }

  .dark {
    @apply bg-gray-800 text-zinc-50;
  }
}

#root {
  background-color: rgb(241 245 249);
}

@font-face {
  font-family: vazir;
  src: url("./fonts/Vazir.ttf");
}
